
.env*
.husky
# backend
backend/node_modules
backend/public/hot
backend/public/storage
backend/storage/*.key
backend/storage/csv
backend/vendor/
backend/.phpunit.result.cache
backend/docker-compose.override.yml
backend/Homestead.json
backend/Homestead.yaml
backend/npm-debug.log
backend/yarn-error.log
backend/.idea
backend/.vscode

TestController.php

# remake_frontend
# dependencies
remake_frontend/node_modules
remake_frontend/.env.production

# frontend
# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/.env
# testing
frontend/coverage
# production
frontend/build
#testpage
TestPage
frontend/src/page/Test.tsx
# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

docker/db/

wiki.md