
# backend
backend/node_modules
backend/public/hot
backend/public/storage
backend/storage/*.key
backend/vendor/
backend/.env
backend/.env.backup
backend/.phpunit.result.cache
backend/docker-compose.override.yml
backend/Homestead.json
backend/Homestead.yaml
backend/npm-debug.log
backend/yarn-error.log
backend/.idea
backend/.vscode


# remake_frontend
# dependencies
remake_frontend/node_modules
remake_frontend/.env
remake_frontend/.env.production
# production
remake_frontend/build





# frontend
# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/.env

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


docker/db/


wiki.md